SERVICE_NAME=go-rest-api-boilerplate
SERVICE_ENVIRONMENT=production
SERVICE_ADDRESS=:8080
DB_HOST=127.0.0.1
DB_PORT=5436
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=svc-go-rest-api-boilerplate
OTEL_UPTRACE_DSN=